# Python cache and build files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.tmp
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# STL and temp files
temp_stl_files/

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.venv/
venv/

# Graph data and model files
graph_data.txt
